<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- <iframe src="http://192.168.2.232:8080/nis7.0.0/bk001Sbk/f_view/reportCardRecord.shtml?ownership=clinical&id=G2016122200082&ptype=mz&ctype=crb&employeeId=YS2&ticket=nis" style="width:100%;height:500px;"></iframe> -->
	<iframe src="http://dev.gklqt.com/nis7/bk001Sbk/f_view/reportCardRecord.shtml?ownership=clinical&id=2520993&ptype=mz&ctype=crb&employeeId=YS2&ticket=nis" style="width:100%;height:500px;"></iframe>
</body>
</html>