<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Stict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang = "zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>startCountingdown</title>
<style type="text/css">
	.colorBlock{padding-left: 20px;}
	.floating{float: left;}
	.show-panel{
		padding: 100px 100px;
		height:300px;
	}
	/*cd里面的样式*/
	.panel-inside{display: inline-table;}
	.parts{display: inline-block;width:100%;height:100%;}
	.pie{width:100%;height:100%;}
	.tip{margin-top:10px;padding-left:50px;text-align:left;display:none;}
	.centerTitle{text-align: center;width:100%;}
	.curCD{width:200px;height:200px}
	.miniCD{width:150px;height:150px;font-size: 12px;}
</style>
<script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
</head>
<body class="background">
<div id="showPanel" class="show-panel">

	<div id="morningwork" class="panel-inside miniCD">
		<div id="title3" class="centerTitle" >上午上班时间!!!</div>
		<canvas id="testcanvas3" width="150" height="150" >您的浏览器暂不支持Canvas</canvas>
		<div id="morningworkTip" class="parts tip" >
			<span style="display: block; ">
				<a class="colorBlock" id="passColor3"> </a>
				<span id="pass3">已过去：??</span>
			</span>
			<span style="display: block;margin-top:20px;">
				<a class="colorBlock" id="lessColor3"> </a>
				<span id="less3">还剩余：??</span>
			</span>
		</div>
	</div>

	<div id="noonrest" class="panel-inside miniCD">
		<div id="title2" class="centerTitle" >午休时间!!!</div>
		<canvas id="testcanvas2" width="150" height="150" >您的浏览器暂不支持Canvas</canvas>
		<div id="noonrestTip" class="parts tip" >
			<span style="display: block; ">
				<a class="colorBlock" id="passColor2"> </a>
				<span id="pass2">已过去：??</span>
			</span>
			<span style="display: block;margin-top:20px;">
				<a class="colorBlock" id="lessColor2"> </a>
				<span id="less2">还剩余：??</span>
			</span>
		</div>
	</div>

	<div id="noonwork" class="panel-inside miniCD">
		<div id="title4" class="centerTitle">下午上班时间!!!</div>
		<canvas id="testcanvas4" width="150" height="150"  >您的浏览器暂不支持Canvas</canvas>
		<div id="noonworkTip" class="parts tip" >
			<div>
				<a class="colorBlock" id="passColor4"> </a>
				<span id="pass4">已过去：??</span>
			</div>
			<div style="margin-top:20px;">
				<a class="colorBlock" id="lessColor4"> </a>
				<span id="less4">还剩余：??</span>
			</div>
		</div>
	</div>

	<div id="sleeppingtime" class="panel-inside miniCD">
		<div id="title" class="centerTitle" >做梦时间!!!</div>
		<canvas id="testcanvas" width="150" height="150">您的浏览器暂不支持Canvas</canvas>
		<div id="sleeppingtimeTip" class="parts tip" >
			<span style="display: block; ">
				<a class="colorBlock" id="passColor"> </a>
				<span id="pass">已过去：??</span>
			</span>
			<span style="display: block;margin-top:20px;">
				<a class="colorBlock" id="lessColor"> </a>
				<span id="less">还剩余：??</span>
			</span>
		</div>
	</div>
	
	<div id="freetime" class="panel-inside miniCD">
		<div id="title5" class="centerTitle" >自由时间!!!</div>
		<canvas id="testcanvas5" width="150" height="150">您的浏览器暂不支持Canvas</canvas>
		<div id="freetimeTip" class="parts tip" >
			<span style="display: block; ">
				<a class="colorBlock" id="passColor5"> </a>
				<span id="pass5">已过去：??</span>
			</span>
			<span style="display: block;margin-top:20px;">
				<a class="colorBlock" id="lessColor5"> </a>
				<span id="less5">还剩余：??</span>
			</span>
		</div>
	</div>
</div>


<script type="text/javascript">
	var color = [ "#27255F", "#2F368F", "#3666B0", "#2CA8E0", "#77D1F6" ];
	var data = [ 5, 30, 15, 30, 20 ];

	function drawCircle() {
		var canvas = document.getElementById("circle");
		var ctx = canvas.getContext("2d");
		var startPoint = 0;
		for (var i = 0; i < data.length; i++) {
			ctx.fillStyle = color[i];
			ctx.beginPath();
			ctx.moveTo(200, 150);
			ctx.arc(200, 150, 150, startPoint, startPoint + Math.PI * 2
					* (data[i] / 100), false);
			ctx.fill();
			startPoint += Math.PI * 2 * (data[i] / 100);
		}
	}
	//drawCircle();
	
	function sleepingTime(pointX, pointY, radius){
		//下午上班		
		//[00 - 09][09 - 12][12 - 14][14 - 18][18 - 24]
		var startdate = new Date();
		startdate.setHours(0);
		startdate.setMinutes(0);
		startdate.setSeconds(0);
		var enddate = new Date();
		//enddate.setDate(enddate.getDate()+1);
		enddate.setHours(8);
		enddate.setMinutes(0);
		enddate.setSeconds(0);
		//
		//
		var color4 = [ "#cbd9ff", "#5c88ff" ];
		var dataCount4 = allMin(startdate,enddate);
		var d = min(startdate);
		var data4 = [ d, dataCount4-d ];
		if(dataCount4-d<=0){
			//该时间段倒计时已结束
			data4 = [ dataCount4, 0 ];
			document.getElementById("title").innerHTML = "<s>做梦时间!!!</s>";
		}
		tip4redrawing("睡觉 - 做梦时间倒计时");
		//
		var canvas = document.getElementById("testcanvas");
		var ctx = canvas.getContext("2d");
		//
		var startPoint = 1.5;
		for (var i = 0; i < data4.length; i++) {
			//第一列数据为已过去
			if(i==0){
				document.getElementById("passColor").style.backgroundColor = color4[i];
				document.getElementById("pass").innerHTML="已过去："+data4[i]+"min";
			}else{
				document.getElementById("lessColor").style.backgroundColor = color4[i];
				document.getElementById("less").innerHTML="还剩余："+data4[i]+"min";
			}
			ctx.beginPath();
			ctx.moveTo(pointX, pointY);
			endPoint =  (data4[i]/dataCount4 * 2 + startPoint) ;
			ctx.arc(pointX, pointY, radius, startPoint * Math.PI , endPoint * Math.PI , false);
			ctx.fillStyle = color4[i];
			ctx.fill();
			startPoint = endPoint;
		}
	}
	
	
	function noonRest(pointX, pointY, radius){
		//下午上班		
		//[00 - 09][09 - 12][12 - 14][14 - 18][18 - 24]
		var startdate = new Date();
		startdate.setHours(12);
		startdate.setMinutes(0);
		var enddate = new Date();
		enddate.setHours(14);
		enddate.setMinutes(0);
		//
		var color4 = [ "#dcf5d8", "#8aff78" ];
		var dataCount4 = allMin(startdate,enddate);
		var d = min(startdate);
		var data4 = [ d, dataCount4-d ];
		if(dataCount4-d<=0){
			//该时间段倒计时已结束
			data4 = [ dataCount4, 0 ];
			document.getElementById("title2").innerHTML = "<s>午休时间!!!</s>";
		}
		tip4redrawing("中午 - 午休时间倒计时");
		//
		var canvas = document.getElementById("testcanvas2");
		var ctx = canvas.getContext("2d");
		//
		var startPoint = 1.5;
		for (var i = 0; i < data4.length; i++) {
			//第一列数据为已过去
			if(i==0){
				document.getElementById("passColor2").style.backgroundColor = color4[i];
				document.getElementById("pass2").innerHTML="已过去："+data4[i]+"min";
			}else{
				document.getElementById("lessColor2").style.backgroundColor = color4[i];
				document.getElementById("less2").innerHTML="还剩余："+data4[i]+"min";
			}
			ctx.beginPath();
			ctx.moveTo(pointX, pointY);
			endPoint =  (data4[i]/dataCount4 * 2 + startPoint) ;
			ctx.arc(pointX, pointY, radius, startPoint * Math.PI , endPoint * Math.PI , false);
			ctx.fillStyle = color4[i];
			ctx.fill();
			startPoint = endPoint;
		}
	}
	
	
	function morningWork(pointX, pointY, radius){
		//下午上班		
		//[00 - 09][09 - 12][12 - 14][14 - 18][18 - 24]
		var startdate = new Date();
		startdate.setHours(9);
		startdate.setMinutes(0);
		var enddate = new Date();
		enddate.setHours(12);
		enddate.setMinutes(0);
		//
		var color4 = [ "#f2e6be", "#fcd606" ];
		var dataCount4 = allMin(startdate,enddate);
		var d = min(startdate);
		var data4 = [ d, dataCount4-d ];
		if(dataCount4-d<=0){
			//该时间段倒计时已结束
			data4 = [ dataCount4, 0 ];
			document.getElementById("title3").innerHTML = "<s>上午工作时间!!! </s>";
		}
		tip4redrawing("上午 - 工作时间倒计时");
		//
		var canvas = document.getElementById("testcanvas3");
		var ctx = canvas.getContext("2d");
		//
		var startPoint = 1.5;
		for (var i = 0; i < data4.length; i++) {
			//第一列数据为已过去
			if(i==0){
				document.getElementById("passColor3").style.backgroundColor = color4[i];
				document.getElementById("pass3").innerHTML="已过去："+data4[i]+"min";
			}else{
				document.getElementById("lessColor3").style.backgroundColor = color4[i];
				document.getElementById("less3").innerHTML="还剩余："+data4[i]+"min";
			}
			ctx.beginPath();
			ctx.moveTo(pointX, pointY);
			endPoint =  (data4[i]/dataCount4 * 2 + startPoint) ;
			ctx.arc(pointX, pointY, radius, startPoint * Math.PI , endPoint * Math.PI , false);
			ctx.fillStyle = color4[i];
			ctx.fill();
			startPoint = endPoint;
		}
	}
	
	function noonWork4(pointX, pointY, radius){
		
		//下午上班		
		//[00 - 09][09 - 12][12 - 14][14 - 18][18 - 24]
		var startdate = new Date();
		startdate.setHours(14);
		startdate.setMinutes(0);
		var enddate = new Date();
		enddate.setHours(18);
		enddate.setMinutes(0);
		//
		var color4 = [ "#e5f9ff", "#78ddff" ];
		var dataCount4 = allMin(startdate,enddate); //240
		var d = min(startdate);
		var data4 = [ d, dataCount4-d ];
		if(dataCount4-d<=0){
			//该时间段倒计时已结束
			data4 = [ dataCount4, 0 ];
			document.getElementById("title4").innerHTML = "<s>下午工作时间!!! </s>";
		}
		tip4redrawing("下午 - 工作时间倒计时");
		//
		var canvas = document.getElementById("testcanvas4");
		var ctx = canvas.getContext("2d");
		//
		var startPoint = 1.5;
		for (var i = 0; i < data4.length; i++) {
			//第一列数据为已过去
			if(i==0){
				document.getElementById("passColor4").style.backgroundColor = color4[i];
				document.getElementById("pass4").innerHTML="已过去："+data4[i]+"min";
			}else{
				document.getElementById("lessColor4").style.backgroundColor = color4[i];
				document.getElementById("less4").innerHTML="还剩余："+data4[i]+"min";
			}
			ctx.beginPath();
			ctx.moveTo(pointX, pointY);
			endPoint =  (data4[i]/dataCount4 * 2 + startPoint) ;
			ctx.arc(pointX, pointY, radius, startPoint * Math.PI , endPoint * Math.PI , false);
			ctx.fillStyle = color4[i];
			ctx.fill();
			startPoint = endPoint;
		}
	}
	
	function freetime(pointX, pointY, radius){
		//		
		//[00 - 09][09 - 12][12 - 14][14 - 18][18 - 24]
		var startdate = new Date();
		startdate.setHours(18);
		startdate.setMinutes(0);
		startdate.setSeconds(0);
		var enddate = new Date();
		//enddate.setDate(enddate.getDate()+1);
		enddate.setHours(23);
		enddate.setMinutes(59);
		enddate.setSeconds(0);
		//
		//
		var color4 = [ "#cbd9ff", "#5c88ff" ];
		var dataCount4 = allMin(startdate,enddate);
		var d = min(startdate);
		var data4 = [ d, dataCount4-d ];
		if(dataCount4-d<=0){
			//该时间段倒计时已结束
			data4 = [ dataCount4, 0 ];
			document.getElementById("title").innerHTML = "<s>自由时间!!!</s>";
		}
		tip4redrawing("自由时间倒计时");
		//
		var canvas = document.getElementById("testcanvas5");
		var ctx = canvas.getContext("2d");
		//
		var startPoint = 1.5;
		for (var i = 0; i < data4.length; i++) {
			//第一列数据为已过去
			if(i==0){
				document.getElementById("passColor5").style.backgroundColor = color4[i];
				document.getElementById("pass5").innerHTML="已过去："+data4[i]+"min";
			}else{
				document.getElementById("lessColor5").style.backgroundColor = color4[i];
				document.getElementById("less5").innerHTML="还剩余："+data4[i]+"min";
			}
			ctx.beginPath();
			ctx.moveTo(pointX, pointY);
			endPoint =  (data4[i]/dataCount4 * 2 + startPoint) ;
			ctx.arc(pointX, pointY, radius, startPoint * Math.PI , endPoint * Math.PI , false);
			ctx.fillStyle = color4[i];
			ctx.fill();
			startPoint = endPoint;
		}
	}
	
	
	function min(time){
		var nt = new Date();
		var ntt = new Date(nt.getFullYear()+"-"+(nt.getMonth()+1)+"-"+nt.getDate()+" "+nt.getHours()+":"+nt.getMinutes());
		return Math.ceil((ntt.getTime() - time.getTime()) / 1000 /60 );
		/* var nmin = new Date().getHours() * 60 + new Date().getMinutes() ;
		var smin = time.getHours() * 60 + time.getMinutes() ;
		return nmin - smin; */
	}
	function allMin(startTime,endTime){
		return Math.ceil(endTime.getTime() - startTime.getTime()) / 1000 / 60 ;
		
	}
	function tip4redrawing(pieName){
		console.log("["+new Date().getFullYear()+"-"+(new Date().getMonth()+1)+"-"+new Date().getDate()+" "+new Date().getHours()+":"+new Date().getMinutes()+":"+new Date().getSeconds()+"] "+pieName+" redrawing...");
	}
	//由于canvas每当高度或宽度被重设时，画布内容就会被清空，因此可以用以下方法清空
	function clearCanvas(id){  
	    var c=document.getElementById(id);  
	    var cxt=c.getContext("2d");  
	    c.height=c.height;  
	} 
	window.setTimeout(function(){
		//第一次显示
		sleepingTime(oX,oY,oR);
		morningWork(oX,oY,oR);
		noonRest(oX,oY,oR);
		noonWork4(oX,oY,oR);
		freetime(oX,oY,oR);
		//
		checkTime();
		//重新设定刷新点
		//减少延迟时间，将刷新间隔改为下一分的第2秒；
		// （60 - 当前时间秒数 + 2） * 1000 
		var ix = setTimeout("setInterval('checkTime()',60 * 1000)", (60 - new Date().getSeconds() + 2) * 1000 );
	
	}, 500);
	
	
	//普通饼图大小
	var oX = 75 ;
	var oY = 75 ;
	var oR = 50 ;
	//当前倒计时饼图大小
	var cX = 100 ;
	var cY = 100 ;
	var cR = 80 ;
	
	
	//需要判断是不是cur
	function checkTime(){
		//判断是否当前
		var curt = new Date();
		//
		if(curt.getHours()<9 && curt.getMinutes()<=59){
			//document.getElementById("noonwork").style.display = "none";
			clearCanvas("testcanvas");
			sleepingTime(cX,cY,cR);
			document.getElementById("sleeppingtimeTip").style.display = "block";
		}else if(curt.getHours()<12 && curt.getMinutes()<=59){
			//document.getElementById("sleeppingtime").style.display = "none";
			clearCanvas("testcanvas3");
			morningWork(cX,cY,cR);
			document.getElementById("morningworkTip").style.display = "block";
		}else if(curt.getHours()<14 && curt.getMinutes()<=59){
			//document.getElementById("morningwork").style.display = "none";
			clearCanvas("testcanvas2");
			noonRest(cX,cY,cR);
			document.getElementById("noonrestTip").style.display = "block";
		}else if(curt.getHours()<18 && curt.getMinutes()<=59){
			//document.getElementById("noonrest").style.display = "none";
			clearCanvas("testcanvas4");
			noonWork4(cX,cY,cR);
			document.getElementById("noonworkTip").style.display = "block";
		}else if(curt.getHours()<=23 && curt.getMinutes()<=59){
			//设置当前为cur
			$("#testcanvas5").attr("width", cX *2);
			$("#testcanvas5").attr("height", cY *2);
			$("#freetime").addClass("curCD");
			//document.getElementById("freetime"). = "curCd";
			//清理画布
			clearCanvas("testcanvas5");
			//绘制饼图
			freetime(cX,cY,cR);
			//显示提示
			document.getElementById("freetimeTip").style.display = "block";
		}
		
	}
</script>
</body>
</html>