<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang = "zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>startCountingdown</title>
<style type="text/css">
	.panel{width:500px;height:750px;padding:2px;margin: 3px auto;border:1px solid #000000;}
	.insideBlock{height:50px;border:1px solid #000000;border-radius:10px;}
</style>
<script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/resources/js/messageBox.js"></script>
</head>
<body class="background">
<div id="showPanel" class="panel">
	<div class="insideBlock">
		<div><span>2019-03-06</span></div>
		<div>
			问题见文档； -- 附卡地址一样的问题；
		</div>
	</div>
</div>


<script type="text/javascript">
	
</script>
</body>
</html>